/* Contato */

.contato-bg {
  background-color: var(--cor-bg-2);
  /* Cria o efeito de recorte do fundo */
  box-shadow: inset 0 200px 0 0 var(--cor-bg-0);
}

.contato {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 0 40px 120px;
  gap: 40px;

  .contato-imagem {
    & img {
      filter: drop-shadow(-40px 80px 40px rgba(0, 0, 0, 0.25));
    }
  }

  .contato-form {
    display: flex;
    flex-direction: column;
    padding-top: 320px;
    gap: 20px;

    .contato-aviso {
      display: none;
      border: 2px solid var(--cor-bg-3);
      border-radius: 4px;
      padding: 8px;

      &.ativo{
        display: flex;
      }
    }

    & h2 {
      color: var(--cor-0);
    }

    & p {
      color: var(--cor-1);
      max-width: 40ch;

      & strong {
        color: var(--cor-0);
      }
    }

    .form-container {
      display: flex;
      flex-direction: column;
      gap: 20px;
      color: var(--cor-0);

      .form-identificacao {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;

        .identificacao-nome {
          display: flex;
          flex-direction: column;
          gap: 8px;

          #nome {
            width: 100%;
            height: 3rem;
            border-radius: 4px;
            padding: 8px;
            font-size: 1rem;
            border: 4px solid transparent;

            &:focus {
              border: 4px solid var(--cor-bg-3);
              outline: none;
            }
          }
        }

        .identificacao-email {
          display: flex;
          flex-direction: column;
          gap: 8px;

          #email {
            width: 100%;
            height: 3rem;
            border-radius: 4px;
            padding: 8px;
            font-size: 1rem;
            border: 4px solid transparent;

            &:focus {
              border: 4px solid var(--cor-bg-3);
              outline: none;
            }
          }
        }
      }
      .form-mensagem {
        display: flex;
        flex-direction: column;
        gap: 8px;

        #mensagem {
          width: 100%;
          height: 20vh;
          border-radius: 4px;
          padding: 8px;
          font-size: 1rem;
          border: 4px solid transparent;

          &:focus {
            border: 4px solid var(--cor-bg-3);
            outline: none;
          }
        }
      }
    }

    /* configurações de cor
    do botão do formulário */
    & button {
      background-color: var(--cor-bg-2);
      color: var(--cor-0);
      cursor: pointer;
      max-width: max-content;
      padding: 12px 20px;

      &:hover {
        background-color: var(--cor-bg-3);
      }
    }
  }
}

/* Responsividade */
@media (max-width: 1200px) {
  .contato {
    grid-template-columns: 6fr 4fr;
  }
}
@media (max-width: 1000px) {
  .contato-bg {
    /* Cria o efeito de recorte do fundo */
    box-shadow: inset 0 100px 0 0 var(--cor-bg-0);
  }
  .contato {
    grid-template-columns: 1fr;

    .contato-imagem {
      width: 50%;
    }

    .contato-form {
      padding-top: 0px;
      margin-top: -140px;

      & h2 {
        text-align: right;
      }

      & p {
        max-width: 30ch;
        align-self: flex-end;
        text-align: right;
      }

      .contato-aviso {
        display: none;
        justify-content: end;
        border: 2px solid var(--cor-bg-3);
        border-radius: 4px;
        padding: 8px;

        & p {
          max-width: none;
          text-align: right;
        }
      }
    }
  }
}

@media (max-width: 800px) {
  .contato-bg {
    /* Cria o efeito de recorte do fundo */
    box-shadow: none;
  }

  .contato {
    grid-template-columns: 1fr;

    .contato-imagem {
      display: none;
    }
    .contato-form {
      padding-top: 120px;
      margin-top: 0;
    }
  }
}

@media (max-width: 450px) {
  .contato {
    justify-content: center;

    .contato-form {
      gap: 26px;
      & h2,
      p {
        text-align: center;
      }

      .form-container {
        .form-identificacao {
          display: flex;
          flex-direction: column;
        }
        & button {
          min-width: 100%;
        }
      }

      .contato-aviso {
        justify-content: start;
        & p {
          text-align: left;
        }
      }
    }
  }
}
