.formacao-bg {
  background-color: var(--cor-bg-1);

  /* Cards - cursos */
  .formacao-cursos {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 40px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: start;

    .curso-card {
      min-width: 200px;
      height: 240px;
      padding: 20px;
      background-color: var(--cor-bg-2);
      color: var(--cor-1);
      display: flex;
      flex-direction: column;
      gap: 40px;
      justify-content: space-between;
      border-radius: 4px;
      transition: background-color ease-in 0.2s;
      flex: 1;

      .card-titulo span {
        text-transform: uppercase;
      }

      .card-titulo h3 {
        color: var(--cor-0);
      }

      .card-instituicao {
        display: flex;
        flex-direction: column;
        text-transform: uppercase;
      }

      &:hover {
        background-color: var(--cor-bg-3);
        cursor: pointer;
        color: var(--cor-0);
      }
    }
  }

  .formacao {
    display: flex;
    flex-direction: column;
    gap: 40px;

    .formacao-informacao {
      color: var(--cor-1);
      padding: 120px 40px 40px;

      & h2 {
        color: var(--cor-0);
      }
    }
  }

  .formacao-botao {
    padding: 40px 40px 120px;

    .botao {
      grid-column: 1;
      max-width: max-content;
    }
  }
}

.habilidade-informacao {
  grid-column: 1/-1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;

  & h2 {
    color: var(--cor-0);
    text-align: center;
    padding: 0 40px;
  }

  & p {
    /* quebra de linha em texto */
    max-width: 40ch;
    color: var(--cor-1);
    text-align: center;
  }
}

.habilidade {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 20px;
  padding: 0 40px 120px;

  .habilidade-card {
    min-width: 120px;
    background-color: var(--cor-bg-2);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: var(--cor-1);
    border-radius: 4px;
    transition: ease-in 0.3s;

    & img {
      filter: grayscale(1);
      transition: ease-in 0.2s;
    }

    & span {
      text-align: center;
    }

    &:hover {
      color: var(--cor-0);
      background-color: var(--cor-bg-3);
    }

    &:hover img {
      filter: grayscale(0);
    }
  }
}

/* Responsividade Formação */
@media (max-width: 830px) {
  .formacao-bg {
    .formacao {
      grid-template-columns: 1fr;
    }
  }
}

@media (max-width: 580px) {
  .formacao-bg {
    .formacao-cursos {
      display: flex;
      flex-wrap: nowrap;
      overflow-x: scroll;
    }

    .botao {
      min-width: 100%;
      justify-self: center;
    }
  }
}

/* Responsividade Habilidade */
@media (max-width: 1050px) {
  .habilidade {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 450px) {
  .formacao {
    .formacao-informacao h2 {
      font-size: 3rem;
    }
  }
  .habilidade {
    grid-template-columns: repeat(7, 1fr);
    overflow-x: scroll;
  }
  .habilidade-informacao h2 {
    font-size: 3rem;
  }
}
