:root {
    /* Cores background */
    --cor-bg-0: #ffffff;
    --cor-bg-1: #0A0218;
    --cor-bg-2: #220E41;
    --cor-bg-3: #2853B1;

    /* Cores tipografia */
    --cor-0: #ffffff;
    --cor-1: #C3C3C3;
}